*~
*.swp
libgotr/client
libgotr/test
libgotr/libgotr.a
libgotr/include
libgotr/lib
libgotr/libgotr.so*
libgotr/structsizes
libgotr/gotr_genkey
*.o
.DS_Store
*/cscope.out
presentation2/*.aux
presentation2/*.log
presentation2/*.pdf

